{% extends "socialnetwork/search.html" %}
{% load static %}

{% block content %}
    <p id="id_page_name">Profile Page for {{ profile.user.first_name }} {{ profile.user.last_name }}</p>
    <div class="profile-container">
        <div>
            {% if not profile.picture %}
                <img id="id_user_picture" src="{% static 'socialnetwork/images/default_profile_image.jpg' %}" style="width:200px;">
            {% else %}
                <img id="id_user_picture" src="{% url 'photo' profile.user.id %}" style="width:200px;">
            {% endif %}
        </div>
        
        <div id="id_user_bio">
            {{ profile.bio }}
        </div>
        {% if profile.user in request.user.profile.following.all %}
            <form action="{% url 'unfollow' profile.user.id %}" method="POST">
                <button id="id_unfollow">Unfollow</button>
                {% csrf_token %}
            </form>
        {% else %}
            <form action="{% url 'follow' profile.user.id %}" method="POST">
                <button id="id_follow">Follow</button>
                {% csrf_token %}
            </form>
        {% endif %}
    </div>

{% endblock %}
