{% extends "socialnetwork/search.html" %}

{% block content %}
    <p id="id_page_name">Global Stream</p>
    <h2 id="error"> {{ error }}</h2>
    
    <form action="{% url 'global-stream' %}" method="POST" class="input-container">
        <label for="id_post_input_text">New Post:</label>
        <input type="text" name="text" id="id_post_input_text">
        <button id="id_post_button">Submit</button>
        {% csrf_token %}
    </form>

    <div id="global-posts"></div>

    {% load static %}
    <script src="{% static 'socialnetwork/stream.js' %}"></script>
    <script>
        const getPostURL = "{% url 'get-global' %}"
        const addCommentURL = "{% url 'add-comment' %}"
        const getProfileURL = function(user_id) {
            return "{% url 'other-profile' 0 %}".replace("0", user_id)
        }
        
        window.onload = loadPosts;
        window.setInterval(loadPosts, 5000);
    </script>

{% endblock %}